@using Markdig
@inherits BlogPostPreviewModel

<div class="post-preview">
    <NavLink href="@($"viewpost/{blogPost.Id}")">
        <h2 class="post-title">
            @blogPost.Title
        </h2>
        <div class="h3 post-subtitle">
            <div style="float:left; margin: .3em">
                <img src="@($"/Images/{blogPost.ThumbnailImagePath}")" width="200px" />
            </div>
            @(((MarkupString)Markdown.ToHtml(blogPost.PostSummary)))
        </div>
    </NavLink>
    <p class="post-meta">
        <NavLink href="/">@blogPost.Author</NavLink>
        , @blogPost.Posted.ToShortDateString()
    </p>
    <div class="clearfix"></div>
</div>